:root{
    --font1: 'Open Sans', sans-serif;
    --font2: 'Raleway', sans-serif;
    --color-black:black;
    --color_accent:#FF8B38;
    --color_gray:#CCCCCC;
    --color-white:white
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
}
* a{
    text-decoration: none;
    color: #CCCCCC;
}
section{
    padding: 0 10%;
    
    
}
header{
    background-color: var(--color-black);
    color: var(--color-white);
}
header section{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1vh 10%;

}
header .logo{
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 700px;
    font-size: 250%;
}
header .logo span{
    font-weight: 400;
    font-size: 100%;
    color: var(--color_accent);

}
header nav ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    gap: 50px;
}

header nav ul a{
    color: var(--color_gray);
    display: block;
    transition: all 0.6s ease;
}
header nav ul a:hover{
    color: #FF8B38;
    transform: scale(1.2, 1.5);
    
}
.site-name{
    background-image: url(../img/img/hero-bg.jpg);
    background-size:cover;
}
.site-name h1, .site-name h2{
    color: var(--color-white);
}
.site-name p{
 

    color: var(--color_gray);
    opacity: 0.7;
}


.site-name section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2vh;
    align-items: center;
    padding: 10vh 10%;
}   
.site-name section .title-name{
    display: grid;
    row-gap: 2vh;
}

.loading{
    border: 1px solid var(--color-white);
    padding: 10px 15px;
    text-transform: capitalize;
    width: 120px;
    margin: 0 auto;
    

}
.loading:hover{
    border-color: var(--color_accent) ;
    color: var(--color_accent);

}
span{
    color: #FF8B38;
}
hr{
    width: 60px;
}
h1{
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 700px;
    font-size: 250%;
}
h2{
    font-family: var(--font2);
}






